<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">

<head>
    <title>Danh sách khách hàng</title>
    <%  include ./../emlements/css %>
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
    class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar">
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-light bg-gradient-x-grey-blue">
        <%  include ./../emlements/defaultHeader %>
    </nav>
    <%  include ./../emlements/defaultMenu %>
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-body">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="col-md-2">
                                            <button type="submit" onclick="done()" class="btn btn-sm btn-success">
                                                <i class="ft-search"></i> Đã giao
                                            </button>
                                        </div>

                                        <div class="col-md-2">
                                            <button type="submit" onclick="delivering()" class="btn btn-sm btn-primary">
                                                <i class="ft-search"></i> Đang giao
                                            </button>
                                        </div>

                                        <div class="col-md-2">
                                            <button type="submit" onclick="just()" class="btn btn-sm btn-warning">
                                                <i class="ft-search"></i> Chưa giao
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body collapse in">
                                    <div class="table-responsive">
                                            <table id="done" class="table table-bordered mb-0" style="">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Mã đơn hàng</th>
                                                            <th>Tên khách hàng</th>
                                                            <th>Địa chỉ</th>
                                                            <th>Tổng tiền</th>
                                                            <th>Trạng thái</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(var i=0; i< orders.length; i++){ %>
                                                            <% if(orders[i].status == "2"){ %>
                                                            <tr>
                                                                <td><%= orders[i].id %></td>
                                                                <td><%= orders[i].orderName %></td>
                                                                <td><%= orders[i].customerName %></td>
                                                                <td><%= orders[i].address %></td>
                                                                <td><%= orders[i].sumMoney %></td>
                                                        
                                                                <td>
                                                                    <div class="tag tag-success">Đã giao</div>
                                                                    
                                                                </td>
                                                                 
                                                            </tr>
                                                            <% }%>
                                                            <% }%>
                                                    </tbody>
                                                </table>
                                        
                                        <table id="delivering" class="table table-bordered mb-0" style="display:none;">
                                            <thead>
                                                <tr>
                                                        <th>Id</th>
                                                            <th>Mã đơn hàng</th>
                                                            <th>Tên khách hàng</th>
                                                            <th>Địa chỉ</th>
        
                                                            <th>Tổng tiền</th>
                                                            <th>Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i< orders.length; i++){ %>
                                                    <% if(orders[i].status == "1"){ %>
                                                    <tr>
                                                            <td><%= orders[i].id %></td>
                                                            <td><%= orders[i].orderName %></td>
                                                            <td><%= orders[i].customerName %></td>
                                                            <td><%= orders[i].address %></td>
                                                            <td><%= orders[i].sumMoney %></td>
                                                        <td>
                                                            <!-- <div class="tag tag-primary">Đang giao</div> -->
                                                            <button
                                                            onclick="location.href='don-hang/chuyen-trang-thai/<%=orders[i].id%>'"
                                                            type="button" class="tag tag-primary">Đang giao</button>
                                                        </td>
                                                         
                                                    </tr>
                                                    <% }%>
                                                    <% }%>
                                            </tbody>
                                        </table>

                                        <table id="just" class="table table-bordered mb-0" style="display:none;">
                                            <thead>
                                                <tr>
                                                        <th>Id</th>
                                                            <th>Mã đơn hàng</th>
                                                            <th>Tên khách hàng</th>
                                                            <th>Địa chỉ</th>
        
                                                            <th>Tổng tiền</th>
                                                            <th>Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i< orders.length; i++){ %>
                                                    <% if(orders[i].status == "0"){ %>
                                                    <tr>
                                                            <td><%= orders[i].id %></td>
                                                            <td><%= orders[i].orderName %></td>
                                                            <td><%= orders[i].customerName %></td>
                                                            <td><%= orders[i].address %></td>
                                                            <td><%= orders[i].sumMoney %></td>
                                                        <td>
                                                            <!-- <div class="tag tag-warning">Chưa giao</div> -->
                                                            <button
                                                            onclick="location.href='don-hang/chuyen-trang-thai/<%=orders[i].id%>'"
                                                            type="button" class="tag tag-warning">Chưa giao</button>
                                                        </td>
                                                         
                                                    </tr>
                                                    <% }%>
                                                    <% }%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%  include ./../emlements/defaultFooter %>
    <%  include ./../emlements/script %>
    <script>
        function done(){
            $('#done').attr('style','');
            $('#delivering').attr('style','display:none;');
            $('#just').attr('style','display:none;');
        }
        function delivering(){
            $('#done').attr('style','display:none;');
            $('#delivering').attr('style','');
            $('#just').attr('style','display:none;');
        }
        function just(){
            $('#done').attr('style','display:none;');
            $('#delivering').attr('style','display:none;');
            $('#just').attr('style','');
        }
    </script>

</body>

</html>