<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">

<head>
	<title>Thống kê báo cáo</title>
	<%  include ./../emlements/css %>
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
	class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar">
	<nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-light bg-gradient-x-grey-blue">
		<%  include ./../emlements/defaultHeader %>
	</nav>
	<%  include ./../emlements/defaultMenu %>
	<div class="app-content content container-fluid">
		<div class="content-wrapper">
			<div class="content-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title" id="horz-layout-card-center">Tìm kiếm</h4>
								<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
							</div>
							<div class="card-body collapse in">
								<div class="card-block">
									<form id="formSearch" class="form form-horizontal" action="revenue-quarter"
										method='GET'>
										<div class="form-group col-md-4">
											<label>Ngày</label>
											<input type="date" id="from" class="form-control" name="from">
										</div>
										<div class="form-group col-md-4">
											<label>Đến ngày</label>
											<input type="date" id="to" class="form-control" name="to">
										</div>

										<div class="form-group col-md-4">
											<label>Xem kết quả</label></br />
											<button id="btnSearch" type="submit" class="btn btn-primary input-lg">
												<i class="fa fa-check-square-o"></i> Xem
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<div class="card">

							<div class="card-body">
								<div class="card-block">
									<ul class="nav nav-tabs nav-underline no-hover-bg">
										<li class="nav-item"><a class="nav-link" id="base-tab31"
												data-toggle="tab" aria-controls="tab31" href="#tab31"
												aria-expanded="true">THỐNG KÊ QUÝ 1</a></li>
										<li class="nav-item"><a class="nav-link" id="base-tab32" data-toggle="tab"
												aria-controls="tab32" href="#tab32" aria-expanded="false">THỐNG KÊ
												QUÝ 2</a></li>
										<li class="nav-item"><a class="nav-link" id="base-tab33" data-toggle="tab"
												aria-controls="tab33" href="#tab33" aria-expanded="false">THỐNG KÊ
												QUÝ 3</a></li>
										<li class="nav-item"><a class="nav-link" id="base-tab34" data-toggle="tab"
												aria-controls="tab34" href="#tab34" aria-expanded="false">THỐNG KÊ
												QUÝ 4</a></li>
									</ul>
									<div class="tab-content px-1 pt-1">
										<!-- ========= form tab 1 ======== -->


										<div role="tabpanel" class="tab-pane" id="tab31" aria-expanded="true"
											aria-labelledby="base-tab31">

											<section id="chartjs-line-charts">
												<!-- Line Chart -->
												<div class="row">
													<div class="card">
														<div class="card-header">
															<!-- Pie chart -->
															<div class="row match-height">
																<div class="col-sm-12">
																	<div id="pie_chart"></div>
																	<!-- Line chart -->
																	<div class="col-sm-12">
																		<div id="line_chart"></div>
																	</div>
																	<hr>
																	<br>
																	<!-- Line chart -->
																	<div class="col-sm-12">
																		<div id="bar_chart"></div>
																	</div>

																	<!-- Line chart -->
																	<div class="col-sm-12">
																		<div id="revenue_chart"></div>
																	</div>

																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<div class="row">
												<div class="col-xs-12">
													<div class="card">
														<div class="card-header">
															<h4 class="card-title" id="horz-layout-card-center">Thông
																tin báo cáo</h4>
														</div>
														<div class="dataTables_scroll">
															<div class="card-body collapse in">
																<div class="table-responsive">
																	<table class="table table-bordered mb-0">
																		<thead>
																			<tr>
																				<th>Tháng</th>
																				<th>Doanh thu</th>
																			</tr>
																		</thead>
																		<tbody>
																			<% for(var i=0; i< reportQuarter1.length; i++){ %>
																				<tr>
																					<td><%= reportQuarter1[i].create %></td>
																					<td><%= reportQuarter1[i].total %> vnđ</td>
																				</tr>
																			<%}%>
																			<tr>
																				<td><strong>Tổng cộng</strong></td>
																				<td><strong><%= totalAmount1 %> vnđ</strong></td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="tab-pane" id="tab32" aria-labelledby="base-tab32">
											<!-- Column Chart -->
											<div class="row">
												<div class="card">
													<div class="card-header">
														<!-- The next line rotates HTML tooltips by 30 degrees clockwise. -->
														<div class="row match-height">
															<div id="pie_chart_week"
																style="width: 900px; height: 300px;"></div>
															<hr>
															<br>
															<div id="line_chart_week"
																style="width: 900px; height: 300px;"></div>
															<hr>
															<br>
															<div id="bar_chart_week"
																style="width: 900px; height: 300px;"></div>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-12">
															<div class="card">
																<div class="card-header">
																	<h4 class="card-title" id="horz-layout-card-center">
																		Thông
																		tin báo cáo</h4>
																</div>

																<div class="dataTables_scroll" align="right">

																	<div class="card-body collapse in">
																		<div class="table-responsive">
																			<table class="table table-bordered mb-0">
																				<thead>
																					<tr>
																						<th>Tháng</th>
																						<th>Doanh thu</th>
																					</tr>
																				</thead>
																				<tbody>
																					<% for(var i=0; i< reportQuarter2.length; i++){ %>
																						<tr>
																							<td><%= reportQuarter2[i].create %></td>
																							<td><%= reportQuarter2[i].total %> vnđ</td>
																						</tr>
																					<%}%>
																					<tr>
																						<td><strong>Tổng cộng</strong></td>
																						<td><strong><%= totalAmount2%> vnđ</strong></td>
																					</tr>
																				</tbody>
																				</tbody>
																			</table>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>

										<div class="tab-pane" id="tab33" aria-labelledby="base-tab33">
											<!-- Column Chart -->
											<div class="row">
												<div class="card">
													<div class="card-header">
														<!-- The next line rotates HTML tooltips by 30 degrees clockwise. -->
														<div class="row match-height">
															<div id="pie_chart_month"
																style="width: 900px; height: 300px;"></div>
															<hr>
															<br>
															<div id="line_chart_month"
																style="width: 900px; height: 300px;"></div>
															<hr>
															<br>
															<div id="bar_chart_month"
																style="width: 900px; height: 300px;"></div>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-12">
															<div class="card">
																<div class="card-header">
																	<h4 class="card-title" id="horz-layout-card-center">
																		Thông
																		tin báo cáo</h4>
																</div>

																<div class="dataTables_scroll" align="right">

																	<div class="card-body collapse in">
																		<div class="table-responsive">
																			<table class="table table-bordered mb-0">
																				<thead>
																					<tr>
																						<th>Tháng</th>
																						<th>Doanh thu</th>
																					</tr>
																				</thead>
																				<tbody>
																					<% for(var i=0; i< reportQuarter3.length; i++){ %>
																						<tr>
																							<td><%= reportQuarter3[i].create %></td>
																							<td><%= reportQuarter3[i].total %> vnđ</td>
																						</tr>
																					<%}%>
																					<tr>
																						<td><strong>Tổng cộng</strong></td>
																						<td><strong><%= totalAmount3 %> vnđ</strong></td>
																					</tr>
																				</tbody>
																			</table>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- bao cao khach hang nam -->
										<div class="tab-pane" id="tab34" aria-labelledby="base-tab34">
											<div class="row">

												<!-- Simple Pie Chart -->
												<section id="chartjs-pie-charts">
													<!--  Pie Chart -->
													<div class="col-xs-12">
														<div class="card">
															<div class="card-header">
																<div class="row match-height">
																	<div id="bar_chart_year"
																		style="width: 900px; height: 500px;"></div>

																	<hr>
																	<br>
																	<div id="pie_chart_year"
																		style="width: 900px; height: 500px;"></div>
																	<hr>
																	<br>
																	<div id="line_chart_year"
																		style="width: 900px; height: 500px;"></div>
																</div>
																<div class="col-xs-12">
																	<div class="card">
																		<div class="card-header">
																			<h4 class="card-title"
																				id="horz-layout-card-center">Thông
																				tin báo cáo</h4>
																		</div>

																		<div class="dataTables_scroll" align="right">

																			<div class="card-body collapse in">
																				<div class="table-responsive">
																					<table
																						class="table table-bordered mb-0">
																						<thead>
																							<tr>
																								<th>Tháng</th>
																								<th>Doanh thu</th>
																							</tr>
																						</thead>
																						<tbody>
																							<% for(var i=0; i< reportQuarter4.length; i++){ %>
																								<tr>
																									<td><%= reportQuarter4[i].create %></td>
																									<td><%= reportQuarter4[i].total %> vnđ</td>
																								</tr>
																							<%}%>
																							<tr>
																								<td><strong>Tổng cộng</strong></td>
																								<td><strong><%= totalAmount4 %> vnđ</strong></td>
																							</tr>
																						</tbody>
																					</table>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
											</div>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%  include ./../emlements/defaultFooter %>
	<%  include ./../emlements/script %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<script type="text/javascript">
	
		// Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {
			'packages': ['corechart']
		});


		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChartWeek);
		// Callback that creates and populates a data table,
		// instantiates the pie chart, passes in the data and

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawMonthReport);

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawYearReport);

		google.setOnLoadCallback(drawQuarterReport);

		// draws it.
		function drawChart() {

			// Create the data table.    
			var data = google.visualization.arrayToDataTable([
				['Report', 'Doanh thu quý 1'],
				<% for(var i=0; i< reportQuarter1.length; i++){ %>
					['<%=reportQuarter1[i].create%>',<%=reportQuarter1[i].total%>],
				<%}%>
			]);
			// Set chart options
			var options = {
				'title': 'Báo Cáo Doanh thu quý 1',
				is3D: true,
				pieSliceText: 'label',
				tooltip: { showColorCode: true },
				'width': 900,
				'height': 400
			};

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
			chart.draw(data, options);

			var line_chart = new google.visualization.LineChart(document.getElementById('line_chart'));
			line_chart.draw(data, options);

			var bar_chart = new google.visualization.ColumnChart(document.getElementById('bar_chart'));
			bar_chart.draw(data, options);



		}


		function drawChartWeek() {

			// Create the data table.    
			var data = google.visualization.arrayToDataTable([
				['Report', 'Doanh thu quý 2'],
				<% for(var i=0; i< reportQuarter2.length; i++){ %>
					['<%=reportQuarter2[i].create%>',<%=reportQuarter2[i].total%>],
				<%}%>
			]);
			// Set chart options
			var options = {
				title: "Báo cáo Doanh thu quý 2",
				is3D: true,
				pieSliceText: 'label',
				tooltip: { showColorCode: true },
				'width': 900,
				'height': 400
			};



			// Instantiate and draw our chart, passing in some options.
			var pieChartWeek = new google.visualization.PieChart(document.getElementById("pie_chart_week"));
			pieChartWeek.draw(data, options);

			var lineChartWeek = new google.visualization.LineChart(document.getElementById("line_chart_week"));
			lineChartWeek.draw(data, options);

			var barChartWeek = new google.visualization.ColumnChart(document.getElementById("bar_chart_week"));
			barChartWeek.draw(data, options);
		}

		function drawMonthReport() {
			// Create the data table.    
			var data = google.visualization.arrayToDataTable([
				['Report', 'Doanh thu quý 3'],
				<% for(var i=0; i< reportQuarter3.length; i++){ %>
					['<%=reportQuarter3[i].create%>',<%=reportQuarter3[i].total%>],
				<%}%>
			]);
			// Set chart options
			var options = {
				title: "Báo Cáo Doanh thu quý 3",
				is3D: true,
				pieSliceText: 'label',
				tooltip: { showColorCode: true },
				'width': 900,
				'height': 400
			};
			// Instantiate and draw our chart, passing in some options.
			var pieChartMonth = new google.visualization.PieChart(document.getElementById("pie_chart_month"));
			pieChartMonth.draw(data, options);

			var lineChartMonth = new google.visualization.LineChart(document.getElementById("line_chart_month"));
			lineChartMonth.draw(data, options);

			var barChartMonth = new google.visualization.ColumnChart(document.getElementById("bar_chart_month"));
			barChartMonth.draw(data, options);
		}

		function drawYearReport() {
			// Create the data table.    
			var data = google.visualization.arrayToDataTable([
				['Report', 'Doanh thu quý 4'],
				<% for(var i=0; i< reportQuarter4.length; i++){ %>
					['<%=reportQuarter4[i].create%>',<%=reportQuarter4[i].total%>],
				<%}%>
			]);
			// Set chart options
			var options = {
				title: "Báo Cáo Doanh Thu Doanh thu quý 4",
				is3D: true,
				pieSliceText: 'label',
				tooltip: { showColorCode: true },
				'width': 900,
				'height': 400
			};
			// Instantiate and draw our chart, passing in some options.
			var barChartYear = new google.visualization.ColumnChart(document.getElementById("bar_chart_year"));
			barChartYear.draw(data, options);

			var lineChartYear = new google.visualization.LineChart(document.getElementById("line_chart_year"));
			lineChartYear.draw(data, options);

			var pieChartYear = new google.visualization.PieChart(document.getElementById("pie_chart_year"));
			pieChartYear.draw(data, options);
		}
	</script>

</body>

</html>