<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">

<head>
    <title>Danh sách sản phẩm</title>
    <%  include ./../emlements/css %>
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
    class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar">
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-light bg-gradient-x-grey-blue">
        <%  include ./../emlements/defaultHeader %>
    </nav>
    <%  include ./../emlements/defaultMenu %>
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-body">

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin gian hàng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="recipient-name" class="col-form-label">Tên:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="Tên gian hàng"
                                                    id="name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="message-text" class="col-form-label">Gian hàng:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <select id="categoryId" class="select2 form-control">
                                                    <% for(var i=0; i< categories.length; i++){ %>
                                                    <option value="<%= categories[i].id %>"><%= categories[i].name %>
                                                    </option>
                                                    <%}%>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="message-text" class="col-form-label">Mô tả:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="Mô tả"
                                                    id="description">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="button" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="form-group row">
                                    <form class="form form-horizontal" action="san-pham" method='POST'>

                                        <div class="col-md-2">
                                            <select class="form-control input-sm" id="status" name="status"
                                                name="status">
                                                <option value="-1">Chọn trạng thái</option>
                                                <option value="1">Đang hoạt động</option>
                                                <option value="0">Đã ngưng</option>
                                            </select>
                                        </div>

                                        <div class="col-md-2">
                                            <input type="text" id="name" class="input-sm form-control"
                                                placeholder="Tên sản phẩm" name="name">
                                        </div>

                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                <i class="ft-search"></i> Tìm kiếm
                                            </button>
                                        </div>
                                    </form>
                                    <div class="col-md-2">
                                        <button data-toggle="modal" data-target="#exampleModal"
                                                data-original-title="Sửa thông tin" type="button"
                                                class="btn btn-icon btn-primary btn-sm show-tooltip"><i
                                                class="ft-plus-circle"></i></button>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body collapse in">
                                    <div class="table-responsive">
                                            <table id="table" class="table table-bordered mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Tên</th>
                                                            <th>Mô tả</th>
                                                            <th>Gian hàng</th>
                                                            <th>Trạng thái</th>
                                                            <th>Xóa</th>
                                                            <th>Sửa</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(var i=0; i< products.length; i++){ %>
                                                    <tr>
                                                        <td><%= products[i].id %></td>
                                                        <td><%= products[i].name %></td>
                                                        <td><%= products[i].description %></td>
                                                        <td><%= products[i].categoryId %></td>
                                                        <td><% if(products[i].status == "1"){ %>
                                                            <div class="tag tag-success">Hoạt động</div>
                                                            <% } else{%>
                                                            <div class="tag tag-danger">Đang khoá</div>
                                                            <% }%></td>
                                                        <td>
                                                            <% if(products[i].status == "1"){ %>
                                                            <button
                                                                onclick="changeStatus(<%=products[i].id%>);return false;"
                                                                type="button" class="btn mr-1 mb-1 btn-danger btn-sm"><i
                                                                    class="fa fa-times"></i></button>
                                                            <% } else{%>
                                                            <button
                                                                onclick="changeStatus(<%=products[i].id%>);return false;"
                                                                type="button"
                                                                class="btn mr-1 mb-1 btn-primary btn-sm"><i
                                                                    class="fa fa-check"></i></button>
                                                            <% }%>
                                                        </td>
                                                        <td>

                                                            <button data-toggle="modal" data-target="#exampleModal"
                                                                data-original-title="Sửa thông tin" type="button"
                                                                class="btn btn-icon btn-primary btn-sm show-tooltip abc"><i
                                                                    class="fa fa-pencil"></i></button>
                                                        </td>
                                                    </tr>
                                                    <% }%>
                                                    </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%  include ./../emlements/defaultFooter %>
        <%  include ./../emlements/script %>
        <script>
            var rIndex, table = document.getElementById("table");
            $(".abc").click(function () {
                for (var i = 1; i < table.rows.length; i++) {
                    table.rows[i].onclick = function () {
                        // get the seected row index
                        rIndex = this.rowIndex;
                        document.getElementById("name").value = this.cells[1].innerHTML;
                        document.getElementById("description").value = this.cells[2].innerHTML;
                        document.getElementById("categoryId").value = this.cells[3].innerHTML;
                    };
                }
            });
            function changeStatus(id) {
                alert(id);
            }
        </script>

</body>

</html>