<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">

<head>
	<title>gian hàng top</title>
	<%  include ./../emlements/css %>
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
	class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar">
	<nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-light bg-gradient-x-grey-blue">
		<%  include ./../emlements/defaultHeader %>
	</nav>
	<%  include ./../emlements/defaultMenu %>
	<div class="app-content content container-fluid">
		<div class="content-wrapper">
			<div class="content-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title" id="horz-layout-card-center">Tìm kiếm</h4>
								<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
							</div>
							<div class="card-body collapse in">
								<div class="card-block">
									<form id="formSearch" class="form form-horizontal" action="top-gian-hang-nam"
										method='GET'>
										<div class="form-group col-md-4">
											<label>Chọn năm</label>
											<select id="year" class="select2 form-control" name="year">
												<option value="<%= year %>"><%= year %>
												
												<% for(var i=2018; i< 2030; i++){ %>
													<%if(i != year){%>
														<option value="<%= i %>"><%= i %>
														</option>s
													<%}%>
												<%}%>
												</select>
										</div>
										

										<div class="form-group col-md-4">
											<label>Xem kết quả</label></br />
											<button id="btnSearch" type="submit" class="btn btn-primary input-lg">
												<i class="fa fa-check-square-o"></i> Xem
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h1>Top gian hàng năm <%=year%></h1>
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<div class="card">

							<div class="card-body">
								<div class="card-block">
									<ul class="nav nav-tabs nav-underline no-hover-bg">
										
										<li class="nav-item"><a class="nav-link active" id="base-tab33" data-toggle="tab"
												aria-controls="tab33" href="#tab33" aria-expanded="false">
												NĂM</a></li>
										

									</ul>
									<div class="tab-content px-1 pt-1">
										<!-- ========= form tab 1 ======== -->


										
										<div class="tab-pane active" id="tab33" aria-labelledby="base-tab33">
											<!-- Column Chart -->
											<div class="row">
												<div class="card">
													<div class="card-header">
														<!-- The next line rotates HTML tooltips by 30 degrees clockwise. -->
														<div class="row match-height">
															<div id="pie_chart_month"
																style="width: 900px; height: 300px;"></div>
															<hr>
															<br>
															<div id="line_chart_month"
																style="width: 900px; height: 300px;"></div>
															<hr>
															<br>
															<div id="bar_chart_month"
																style="width: 900px; height: 300px;"></div>
																<hr>
															<br>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-12">
															<div class="card">
																<div class="card-header">
																	<h4 class="card-title" id="horz-layout-card-center">
																		Thông
																		tin báo cáo</h4>
																</div>

																<div class="dataTables_scroll" align="right">

																	<div class="card-body collapse in">
																		<div class="table-responsive">
																			<table class="table table-bordered mb-0">
																				<thead>
																					<tr>
																						<th>gian hàng</th>
																						<th>Số lượng</th>
																					</tr>
																				</thead>
																				<tbody>
																					<% for(var i=0; i< TopProduct.length; i++){ %>
																					
																						<tr>
																							<td><%= TopProduct[i].create %></td>
																							<td><%= TopProduct[i].total %></td>
																						</tr>
																					<%}%>
																						<td><strong>Tổng cộng</strong></td>
																						<td><strong><%=totalAmount%></strong></td>
																					</tr>
																				</tbody>
																			</table>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%  include ./../emlements/defaultFooter %>
	<%  include ./../emlements/script %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<script type="text/javascript">


		// Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {
			'packages': ['corechart']
		});


		
		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawMonthReport);

		
		// draws it.
		
		function drawMonthReport() {
			// Create the data table.    
			var data = google.visualization.arrayToDataTable([
				['Top sẩn phẩm theo năm', 'Số lượng'],
				<% for(var i=0; i< TopProduct.length; i++){ %>
					
					['<%=TopProduct[i].create%>',<%=TopProduct[i].total%>],
				<%}%>
			]);
			// Set chart options
			var options = {
				title: "Top 10 gian hàng năm",
				is3D: true,
				pieSliceText: 'label',
				tooltip: { showColorCode: true },
				'width': 900,
				'height': 400
			};
			// Instantiate and draw our chart, passing in some options.
			var pieChartMonth = new google.visualization.PieChart(document.getElementById("pie_chart_month"));
			pieChartMonth.draw(data, options);

			var lineChartMonth = new google.visualization.LineChart(document.getElementById("line_chart_month"));
			lineChartMonth.draw(data, options);

			var barChartMonth = new google.visualization.ColumnChart(document.getElementById("bar_chart_month"));
			barChartMonth.draw(data, options);
		}

		
	</script>

</body>

</html>