<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">

<head>
    <title>Danh sách khách hàng</title>
    <%  include ./../emlements/css %>
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
    class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar">
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-light bg-gradient-x-grey-blue">
        <%  include ./../emlements/defaultHeader %>
    </nav>
    <%  include ./../emlements/defaultMenu %>
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-body">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="form-group row">
                                    <form class="form form-horizontal" action="/khach-hang" method='POST'>

                                       
                                    </form>
                                    <div class="col-md-2">
                                            <!-- <input type="text" id="name" class="input-sm form-control"
                                                placeholder="Tên khách hàng" name="name"> -->
                                                <input type="text" class="form-control input-sm" id="myInput" onkeyup="myFunction()" placeholder="Tìm kiếm theo tài khoản" title="Tìm kiếm theo tài khoản">
                                        </div>
                                </div>
                                
                                <hr>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                    
                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết nhân viên:</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label for="recipient-name" class="col-form-label">Tên:</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" placeholder="Họ tên" id="dname"
                                                                    name="dname" required disabled="disabled">
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label for="recipient-name" class="col-form-label">Tài khoản:</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" placeholder="Họ tên" id="daccount"
                                                                    name="daccount" required disabled="disabled">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label for="message-text" class="col-form-label">Số điện thoại:</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="number" class="form-control" placeholder="Số điện thoại"
                                                                    id="dphoneNumber" name="dphoneNumber" required  disabled="disabled">
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label for="message-text" class="col-form-label">Địa chỉ:</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control" placeholder="Địa chỉ" id="dplace"
                                                                    name="dplace"  disabled="disabled">
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                      </div>
                                      
                                    </div>
                                  </div>

                                <div class="card-body collapse in">
                                    <div class="table-responsive">
                                        <table id="table" class="table table-bordered mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Tên</th>
                                                    <th>Tài khoản</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Trạng thái</th>
                                                    <th>Chức năng</th>
                                                    <th>Xem chi tiết</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <% for(var i=0; i< customers.length; i++){ %>
                                                        <tr>
                                                            <td><%= customers[i].id %></td>
                                                            <td><%= customers[i].name %></td>
                                                            <td><%= customers[i].account %></td>
                                                            <td><%= customers[i].phoneNumber %></td>
                                                            <td><%= customers[i].place %></td>
                                                            <td><% if(customers[i].status == "1"){ %>
                                                                <div class="tag tag-success">Hoạt động</div>
                                                                <% } else{%>
                                                                <div class="tag tag-danger">Đang khoá</div>
                                                                <% }%></td>
                                                            <td>
                                                                <% if(customers[i].status == "1"){ %>
                                                                <button
                                                                    onclick="location.href='khach-hang/chuyen-trang-thai/<%=customers[i].id%>'"
                                                                    type="button" class="btn mr-1 mb-1 btn-danger btn-sm"><i
                                                                        class="fa fa-times"></i></button>
                                                                <% } else{%>
                                                                <button
                                                                    onclick="location.href='khach-hang/chuyen-trang-thai/<%=customers[i].id%>'"
                                                                    type="button" class="btn mr-1 mb-1 btn-primary btn-sm"><i
                                                                        class="fa fa-check"></i></button>
                                                                <% }%>
                                                            </td>
                                                            <td>
                                                                <button data-toggle="modal" data-target="#myModal"
                                                                    class="btn btn-icon btn-primary btn-sm show-tooltip detail-employee"><i
                                                                        class="fa fa-th"></i></button>
                                                            </td>
                                                        </tr>
                                                        <% }%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%  include ./../emlements/defaultFooter %>
    <%  include ./../emlements/script %>
    <script>
        
        $(".detail-employee").click(function () {
            for (var i = 1; i < table.rows.length; i++) {
                table.rows[i].onclick = function () {
                    // get the seected row index
                    rIndex = this.rowIndex;
                    document.getElementById("dname").value = this.cells[2].innerHTML;
                    document.getElementById("daccount").value = this.cells[1].innerHTML;
                    document.getElementById("dphoneNumber").value = this.cells[3].innerHTML;
                    document.getElementById("dplace").value = this.cells[4].innerHTML;
                };
            }
        });
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
                }       
            }
        }
    </script>

</body>

</html>