<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">

<head>
    <title>Danh sách khách hàng</title>
    <%  include ./../emlements/css %>
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
    class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar">
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-light bg-gradient-x-grey-blue">
        <%  include ./../emlements/defaultHeader %>
    </nav>
    <%  include ./../emlements/defaultMenu %>
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-body">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="form-group row">
                                    <form class="form form-horizontal" action="/customers" method='POST'>

                                        <div class="col-md-2">
                                            <select class="form-control input-sm" id="status" name="status" name="status">
                                                <option value="-1">Chọn trạng thái</option>
                                                <option value="1">Đang hoạt động</option>
                                                <option value="0">Đã ngưng</option>
                                            </select>
                                        </div>

                                        <div class="col-md-2">
                                            <input type="text" id="name" class="input-sm form-control"
                                                placeholder="Tên khách hàng" name="name">
                                        </div>

                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                <i class="ft-search"></i> Tìm kiếm
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <hr>
                                <div class="card-body collapse in">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Tài khoản</th>
                                                    <th>Tên</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Nơi sinh</th>
                                                    <th>Trạng thái</th>
                                                    <th>Chức năng</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <% for(var i=0; i< customers.length; i++){ %>
                                                        <tr>
                                                            <td><%= customers[i].id %></td>
                                                            <td><%= customers[i].name %></td>
                                                            <td><%= customers[i].account %></td>
                                                            <td><%= customers[i].phoneNumber %></td>
                                                            <td><%= customers[i].place %></td>
                                                            <td><% if(customers[i].status == "1"){ %>
                                                                <div class="tag tag-success">Hoạt động</div>
                                                                <% } else{%>
                                                                <div class="tag tag-danger">Đang khoá</div>
                                                                <% }%></td>
                                                            <td>
                                                                <% if(customers[i].status == "1"){ %>
                                                                <button
                                                                    onclick="changeStatus(<%=customers[i].id%>);return false;"
                                                                    type="button" class="btn mr-1 mb-1 btn-danger btn-sm"><i
                                                                        class="fa fa-times"></i></button>
                                                                <% } else{%>
                                                                <button
                                                                    onclick="changeStatus(<%=customers[i].id%>);return false;"
                                                                    type="button" class="btn mr-1 mb-1 btn-primary btn-sm"><i
                                                                        class="fa fa-check"></i></button>
                                                                <% }%>
                                                            </td>
                                                        </tr>
                                                        <% }%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%  include ./../emlements/defaultFooter %>
    <%  include ./../emlements/script %>
    <script>
        function changeStatus(id){
            alert(id);
        }
    </script>

</body>

</html>